@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;  
  align-items: center;       
  font-family: 'Outfit', sans-serif;
  background-color: #FFFF;
  transition: background-color 0.58s ease;
}

.container{
  text-align: center;     
}

.panel{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  width: auto;
  height: 140px;
}

.brand-name-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 84%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; 
}

.brand-name-container h2 {
  font-weight: 100;
  color: #000;
  margin-left: 25px;
}

.stinger{
  font-family: 'Outfit', sans-serif;
}

.agera{
  font-family: 'Orbitron', sans-serif;
}

.car-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.car-container img{
  height: 350px;      
  width: auto;
  max-width: 100%;
}

.page-number-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.page-number-container button {
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
  border-style: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.page-number-container button.active {
  font-weight: 300;
}

.page-number-container button:hover {
  cursor: pointer;
  color: white;
  background-color: #000;
  font-weight: 300;
}

.page-number-container button:active {
  font-weight: 300;
  color: #000;
  border-style: none;
  background-color: transparent;
}

.bugatti .page-number-container button {
  color: #fff;
  background-color: transparent;
}

.bugatti .page-number-container button.active {
  color: #fff;
  background-color: transparent;
  font-weight: 300;
}

.bugatti .page-number-container button:hover {
  color: #000;
  background-color: #fff;
}

.bugatti .page-number-container button:active {
  color: #fff;
  background-color: #000;
}

.bugatti .brand-name-container h2 {
  color: #fff;
}

.bugatti .model-name {
  color: #fff;
}